{
    admin off
    frankenphp
}

admin.scarpackage.com {
    root * /var/www/html/public
    php_server
}

pma.scarpackage.com {
    reverse_proxy phpmyadmin:80 
    encode gzip
    log {
        output file /var/log/caddy/pma.access.log
    }
    tls {
        # Automatic TLS management for phpMyAdmin
    }
}